<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ele.amigo">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:name=".AmigoService"
            android:process=":amigo" />

         <activity
            android:name=".release.ApkReleaseActivity"
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:process=":amigo"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ActivityStub$StandardStub"
            android:launchMode="standard" />
        <activity
            android:name=".ActivityStub$SingleInstanceStub"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ActivityStub$SingleTaskStub"
            android:launchMode="singleTask" />
        <activity
            android:name=".ActivityStub$SingleTopStub"
            android:launchMode="singleTop" />

    </application>

</manifest>
